#!/bin/bash

until PGPASSWORD=$POSTGRES_PASSWORD psql -h "$POSTGRES_HOST" -p "$POSTGRES_PORT" -U "$POSTGRES_USER" -d "$POSTGRES_DB" -c '\q'; do
  >&2 echo "Postgres is unavailable on $POSTGRES_HOST:$POSTGRES_PORT - sleeping.."
  sleep 2
done

>&2 echo "Postgres is up - executing command"
python -m db  # Run a table initialization
sleep 5
exec "$@"